<div ng-controller="DashboardController">
    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <p class="title is-3 is-spaced has-text-centered">
                {{metrics.process.toLocaleString()}}
            </p>
            <p class="subtitle is-4 has-text-centered" style="color: #000000;">
                Process
            </p>
            <p class="subtitle is-5 is-spaced has-text-centered">
                {{rates.process_per_second.toLocaleString()}}
            </p>
            <p class="subtitle is-6 is-spaced has-text-centered" style="color: #000000;">
                Per Second
            </p>
        </div>
        <div class="column">
            <p class="title is-3 is-spaced has-text-centered">
                {{metrics.success.toLocaleString()}}
            </p>
            <p class="subtitle is-4 has-text-centered" style="color: #009688;">
                Success
            </p>
            <p class="subtitle is-5 is-spaced has-text-centered">
                {{rates.success_per_second.toLocaleString()}}
            </p>
            <p class="subtitle is-6 is-spaced has-text-centered" style="color: #009688;">
                Per Second
            </p>
        </div>
        <div class="column">
            <p class="title is-3 is-spaced has-text-centered">
                {{metrics.retry.toLocaleString()}}
            </p>
            <p class="subtitle is-4 has-text-centered" style="color: #03A9F4;">
                Retry
            </p>
            <p class="subtitle is-5 is-spaced has-text-centered">
                {{rates.retry_per_second.toLocaleString()}}
            </p>
            <p class="subtitle is-6 is-spaced has-text-centered" style="color: #03A9F4;">
                Per Second
            </p>
        </div>
        <div class="column">
            <p class="title is-3 is-spaced has-text-centered">
                {{metrics.failure.toLocaleString()}}
            </p>
            <p class="subtitle is-4 has-text-centered" style="color: #E53935;">
                Failure
            </p>
            <p class="subtitle is-5 is-spaced has-text-centered">
                {{rates.failure_per_second.toLocaleString()}}
            </p>
            <p class="subtitle is-6 is-spaced has-text-centered" style="color: #E53935;">
                Per Second
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="column is-one-thirds">
            <div class="panel">
                <p class="panel-heading">
                    Queues
                </p>
                <div class="panel-block">
                    <table id="queues-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(queue_name, queue_count) in queues">
                                <td>{{queue_name}}</td>
                                <td>{{queue_count.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column is-two-thirds">
            <div class="panel">
                <p class="panel-heading">
                    Statistics
                </p>
                <div class="panel-block">
                    <table id="statistics-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Process</th>
                                <th>Success</th>
                                <th>Retry</th>
                                <th>Failure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(worker_name, metrics) in statistics">
                                <td>{{worker_name}}</td>
                                <td>{{metrics.process.toLocaleString()}}</td>
                                <td>{{metrics.success.toLocaleString()}}</td>
                                <td>{{metrics.retry.toLocaleString()}}</td>
                                <td>{{metrics.failure.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="panel">
                <p class="panel-heading">
                    Workers
                </p>
                <div class="panel-block">
                    <input placeholder="search..." id="search" type="text" class="validate input" ng-model="workers_search">
                </div>
                <div class="panel-block">
                    <table id="queues-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'hostname'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Hostname</th>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'name'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Worker</th>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'metrics.process'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Process</th>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'metrics.success'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Success</th>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'metrics.retry'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Retry</th>
                                <th style="cursor: pointer;" ng-click="workers_table_sort_by = 'metrics.failure'; workers_table_sort_by_reverse = !workers_table_sort_by_reverse;">Fail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="worker in workers | filter: workers_search | orderBy: workers_table_sort_by : workers_table_sort_by_reverse | limitTo: 50">
                                <td>{{worker.hostname}}</td>
                                <td>{{worker.name}}</td>
                                <td>{{worker.metrics.process.toLocaleString()}}</td>
                                <td>{{worker.metrics.success.toLocaleString()}}</td>
                                <td>{{worker.metrics.retry.toLocaleString()}}</td>
                                <td>{{worker.metrics.failure.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
