<div class="container" ng-controller="DashboardController">
    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                      Success
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <h2 style="color: #009688; text-align: center; font-weight: bold;">{{metrics.success.toLocaleString()}}</h2>
                        <br>
                        <!--<h3 style="text-align: center; font-weight: bold;">{{rate.success.toLocaleString()}}</h3>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                      Retry
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <h2 style="color: #03A9F4; text-align: center; font-weight: bold;">{{metrics.retry.toLocaleString()}}</h2>
                        <br>
                        <!--<h3 style="text-align: center; font-weight: bold;">{{rate.retry.toLocaleString()}}</h3>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                      Failure
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <h2 style="color: #E53935; text-align: center; font-weight: bold;">{{metrics.failure.toLocaleString()}}</h2>
                        <br>
                        <!--<h3 style="text-align: center; font-weight: bold;">{{rate.failure.toLocaleString()}}</h3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <table id="queues-table" class="table is-bordered is-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(queue_name, queue_count) in queues" ng-if="queue_name.indexOf('results') === -1">
                        <td style="font-weight: bold;">{{queue_name}}</td>
                        <td style="font-weight: bold;">{{queue_count.toLocaleString()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <table id="queues-table" class="table is-bordered is-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(queue_name, queue_count) in queues" ng-if="queue_name.indexOf('results') > -1">
                        <td style="font-weight: bold;">{{queue_name}}</td>
                        <td style="font-weight: bold;">{{queue_count.toLocaleString()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
